.custom-table {
    tbody {
        tr {
            td {
                border: none;
                vertical-align: middle;
                select {
                    width: 170px;
                }
            }
        }
    }
}

.upload-file {
    margin-bottom: 20px;
    input {
        margin-top: 10px;
    }
    select {
        margin-right: 20px;
    }
    input[type="file"] {
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    button {
        margin-top: 20px;
    }
}

.manager {
    border: none;
    li {
        margin-bottom: 5px;
        float: none;
        a {
            border: none;
            margin-right: 0;
            border-radius: 4px;
            &:hover {
                border: none;
                background-color: #337ab7;
                color: #fff;
            }
        }
        &.active {
            a, a:focus, a:hover {
                border: none;
                background-color: #337ab7;
                color: #fff;
            }
        }
    }
}

#manager {
    button {
        margin-bottom: 30px;
    }
}

.form-horizontal {
    .radio-inline {
        margin-bottom: 20px;
    }
}

.list-classes {
    li {
        span {
            display: inline-block;
            vertical-align: middle;
            min-width: 300px;
            margin-top: 2px;
            position: relative;
        }
        form {
            display: inline-block;
            input {
                display: inline-block;
                vertical-align: middle;
            }
            input[type="file"] {
                min-width: 200px;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.navbar-right {
    .dropdown-menu {
        a {
            span {
                margin-right: 10px;
            }
        }
    }
}

.list-user {
    .list-group {
        .list-group-item {
            vertical-align: middle;
            > span {
                width: 200px;
                display: inline-block;
            }
            > form {
                display: inline-block;
            }
        }
    }
}

.navbar-default {
    .navbar-nav {
        > li {
            > a.dropdown-toggle {
                &:hover {
                    color: #1dae84;
                }
            }
        }
        .dropdown-menu {
            > li {
                > a {
                    padding: 10px 20px;
                }
            }
        }
        a {
            &:hover {
                color: #1dae84;
            }
        }
    }
    .container {
        a {
            &:hover {
                color: #1dae84;
            }
        }
    }
}

.list-classes {
    input {
        margin-right: 30px;
    }
}