.options {
    display: none;
    select {
        margin-right: 20px;
    }
}

.select-option {
    text-decoration: underline;
    cursor: pointer;
}

.advanced-options {
    margin: 30px 0;
    text-align: center;
    .open-option {
        display: block;
    }
}

.search-form {
    margin-top: 150px !important;
    form {
        position: relative;
        max-width: 580px;
        margin: auto;
        .form-control {
            padding: 5px 80px 5px 20px;
            border-radius: 7px;
            height: 60px;
            font-size: 16px;
            &:focus {
                border-color: #ccc;
                box-shadow: none;
            }
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            width: 80px;
            height: 60px;
            border-radius: 0 7px 7px 0;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            &:hover {
                span {
                    color: #1dae84;
                }
            }
            &:focus {
                outline: none;
            }
            span {
                font-size: 26px;
                color: #999;
                background-color: transparent;
            }
        }
    }
}

/* scroll results */
.ui-autocomplete {
    padding-right: 5px;
}

.ui-autocomplete li {
    font-size: 16px;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 250px;
}